.menu {
    display: flex;
    justify-content: center;
    font-family: 'Kelly Slab', cursive;    
    /* background-image: url(./../../img/bg1.png);
    background-repeat: repeat;
    background-position: center bottom; */
}
.menu a {
    text-decoration: none;
    padding: 19px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    text-transform: uppercase;
    display: block;
    transition: transform 0.03s;
    border-bottom: 2px solid transparent;
}

.menu a:hover {
    color: darkgoldenrod;
}

nav {
    background-image: url(./../../img/bg1.png);
    background-repeat: repeat;
    background-position: center bottom; 
    margin-bottom: 15px; 
}